<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
	<link href="uploads/images/favicon.png" rel="icon" type="image/png">
  <link rel="stylesheet" href="uploads/css/pop1_1.css">
  <link rel="stylesheet" href="uploads/css/style1.css">

  
    <title>Document</title>
</head>

         
<body>
    <nav>
        <div class="logo">
    
      <a href="/home">dotlearning</a>
      </div>
      <ul class="menu-bar">
    <li class="lia"><a  href="/academic"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Academic</a></li>
      
      <li class="lia"><a  href="/student"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Dashboard</a></li>
     
     
        <li class="lia"><a  href="/"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a></li>
      </ul>
      </nav>

      <div class="cta-1">
        <div class="triangle-with-shadow"></div>
        
        <div class="box_1_1">
          <div class="reg">
        <h1 class="reg1">Email Verification:</h1>
        </div>
        <form  method="POST" class="form_1">
        
       
        <div class="form-group-2">
          E-mail:
        <input type="email" name="email" class="form_control"  id="textcolor" placeholder="E-mail" required><br>
        <i class="far fa-check-circle"></i>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        <small>Error Msg</small>
      
        </div>
        <button class="btn_1" type="submit" >Verify</button>


</form>
        
        
</div>
</div>


    
             
</body> 
</html>


  <!--<div class="form-group-2">
          Password :
        <input type="password" name="password" class="form_control" placeholder="Password" required><br>
        </div>
        <div class="form-group-2">
          Confirm-Password :
        <input type="password" name="confirm password" class="form_control" placeholder="Confirm password" required>
        </div>
          <button class="btn" type="submit">Submit</button>!-->